/// ============================================================================
// Object: _typography
/// ============================================================================

h1,
.o-heading-1 {
  font-size: rem-calc(46);
}

h2,
.o-heading-2 {
  font-size: rem-calc(32);
}

h3,
.o-heading-3 {
  font-size: rem-calc(28);
}

h4,
.o-heading-4 {
  font-size: rem-calc(24);
}

h5,
.o-heading-5 {
  font-size: rem-calc(22);
}

h6,
.o-heading-6 {
  font-size: rem-calc(18);
}