/// ============================================================================
/// Settings: _variables
/// Contains a number of variables which are used through out the site
/// ============================================================================

/// ============================================================================
/// Local Colors
/// These should only be referenced in this file
/// @access private
/// ============================================================================
$red: #D64541 !default;
$orange: #ffae00 !default;
$green: #1E824C !default;
$blue: #4F5962;
$white: #F9F9F9;
$black: #333333;

/// ============================================================================
/// Global Colors
/// These should be used outside of this file
/// @access public
/// ============================================================================
$palette-primary: $green;
$palette-secondary: $blue;
$palette-tertiary: $white;
$palette-quaternary: $black;

$palette-error: $red;
$palette-warning: $orange;
$palette-success: $green;

$palette-heading: $palette-secondary;
$palette-paragraph: $palette-secondary;
$palette-anchor: $palette-primary;

$palette-border: $palette-quaternary;

/// ============================================================================
/// Typography
/// Typography related variables
/// @access public
/// ============================================================================
$global-font-size: 62.5%;
$font-size-primary: rem-calc(16);

// Font Sizes
$font-size-heading-one: rem-calc(75);
$font-size-heading-two: rem-calc(48);
$font-size-heading-three: rem-calc(36);
$font-size-heading-four: rem-calc(24);
$font-size-heading-five: rem-calc(22);
$font-size-heading-six: rem-calc(20);
$font-size-small: 80%;

// Font Famlily
$font-family-normal: 'GothamRounded Book', Arial, sans-serif;
$font-family-secondary: 'GothamRounded Medium', Arial Bold, sans-serif;


// Line Heights
$line-height-base: 1.7 !default;
$line-height-headings: 1.2 !default;

/// ============================================================================
/// Forms
/// Form elements variables
/// @access public
/// ============================================================================
$global-form-input-border-color: $palette-border;
$global-form-input-disabled-color: #e6e6e6;

/// ============================================================================
/// Z Index index
/// $z-stack runs throuyh a list which ouputs numbered order
/// @access public
/// ============================================================================
$z-stack: site, skipToContent, siteHeader, siteMenu, modal;

/// ============================================================================
/// Misc Variables
/// Misc variables which don't have any meaning
/// @access public
/// ============================================================================
$global-border-radius: 5px;
$global-box-shadow: 0px 0px 24px rgba(79, 89, 98, 0.15);

/// ============================================================================
/// Spacing Variables
/// Spacing variables with components etc.
/// @access public
/// ============================================================================
$spacing-large: rem-calc(90);
$spacing-medium: rem-calc(60);
$spacing-small: rem-calc(47);

/// ============================================================================
/// Layout & Grid
/// Variables related to the grid
/// @access private
/// ============================================================================

// Grid Width
$global-width: rem-calc(1300);

// Breakpoint Sizes
$breakpoints: (
  sm: 0,
  md: 640px,
  lg: 1024px,
  xlg: 1200px,
  xxlg: 1440px,
) !default;

// Enabled breakpoints
$breakpoint-classes: (sm md lg) !default;

// The maximum width of a row.
$grid-row-width: $global-width;

// The default column count of a grid. 
// Changing this value affects the grid mixins.
$grid-column-count: 12 !default;

// The amount of space between columns at different screen sizes. 
// Pixels are converted to Rem
$grid-column-gutter: (
  sm: 30px,
  md: 40px,
  lg: 40px
) !default;

// If `true`, the last column in a row will align to the opposite edge of the row.
$grid-column-align-edge: true;
