# Browser List for Autoprefixer
# Check List -> http://browserl.ist/

# Microsoft
IE >= 8
Edge >= 12

# Normal Browsers
chrome >= 33
firefox >= 33
safari >= 6

# Mobile
ios >= 6
android >= 4.1
and_chr >= 64
and_ff >= 57
samsung >= 4

# Odd
opera >= 40
operamobile >= 10