/* CSS Document */
/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/************************************
-------- CSS Structure v3.21 --------
|--	Main
|	--  Fonts
|	--	Body
|	--	Img classes
|	--	Header
|		-- Nav
|--	Home Page
|--	About Page
|--	Sounds
|		-- Glass/Interact
|--	Contact
|--	Footer
|--	H tags and p tag / Text
|--	Lists
|--	Hyperlinks
|--	Buttons
|--	Forms
|--	Media Querieies
*************************************/


/******************/
/*    MAIN        */
/******************/

/*** Fonts ***/

@font-face {
	font-family: 'GothamRounded-Book';
	src: url('fonts/GothamRounded-Book.eot?') format('eot'),
	     url('fonts/GothamRounded-Book.otf')  format('opentype'),
	     url('fonts/GothamRounded-Book.woff') format('woff'),
	     url('fonts/GothamRounded-Book.ttf')  format('truetype'),
	     url('fonts/GothamRounded-Book.svg#GothamRounded-Book') format('svg');
}

body
{
	font-size: 1.05em;
	line-height: 1.25em;
    font-family: 'GothamRounded-Book', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
	color: #555;
	margin: auto;
}

.preview_img
{
	max-width: 100%;
	height: auto;
}

.img
{
	max-width: 100%;
	height: auto;
}

.responsive_logo
{
	max-width: 100%;
	height: auto;
}

hr
{
	width: 30%;
	border: none;
	height: 1px;
	background-color: #dadfe1;
}
/*** header ***/

.banner
{
	background-color: transparent;
	width: 100%;
	height: 95px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

header, a, img, li
{
	transition: all 1s;
	-moz-transition: all 1s; /* Firefox 4 */
	-webkit-transition: all 1s; /* Safari and Chrome */
	-o-transition: all 1s; /* Opera */
}

#logo
{
	margin-top: 10px;
	float: left;
	display: block;
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    margin-left: 80px;
}


/*** Nav ***/
nav
{
	float: right;
	padding: 30px;
	margin-right: 50px;
	font-family: 'GothamRounded-Book', Arial, sans-serif;
	font-weight: 400;
	display: inline-block;
    list-style: none;
    font-size: 0.90em;
    vertical-align: middle;
}

nav ul
{
	list-style: none;
}

nav li
{
	display: inline-block;
	float: left;
	padding-right: 30px;
}

nav ul li a:link
{
	color: #f9f9f9;
	-o-transition:color .2s ease-out, background 2s ease-in;
	-ms-transition:color .2s ease-out, background 2s ease-in;
	-moz-transition:color .2s ease-out, background 2s ease-in;
	-webkit-transition:color .2s ease-out, background 2s ease-in;
	-webkit-font-smoothing: antialiased;
}

nav ul li a:visited
{
	color: #f9f9f9;
}

nav ul li a:hover
{
	color: #1e824c;
}

nav a:hover
{
	color: #1e824c;
	display: inline-block;
     transition: color 2s ease-out;
     -webkit-transition: color 2s ease-out;
     -moz-transition: color 2s ease-out;
     -o-transition: color 2s ease-out;
}

nav ul li.active a
{
	color: #1e824c;
	display: inline-block;
}

.banner_icons_sound
{
	width: auto;
	height: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	display: inline;
	vertical-align: baseline;
	background: url(imgs/soundcloud_header.png) no-repeat;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

.banner_icons_twit
{
	width: auto;
	height: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	display: inline;
	vertical-align: baseline;
	background: url(imgs/t_header.png) no-repeat;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

/*** Mobile/Tablet menu icon ***/
#mobile-menu
{
	display: hidden;
	width: 40px;
	height: 60px;
	background: transparent url(imgs/mobile-menu.png) center;
	background-repeat: no-repeat;
}

a:hover#mobile-menu {
	background-color: #222;
	border-radius: 4px 4px 0 0;
}

/*****************/
/** Home Page ***/
/***************/

#hero_area
{
	margin: 0px auto 0px;
	padding-top: 225px;
	max-width: 100%;
	height: 420px;
	position: relative;
	text-align: center;
	background: url(imgs/01_Home-Banner.jpg);	/* Large photo on top section */
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	color: #fff;
  	text-shadow: 1px 1px 1px #000;
}

#hero_area h1
{
	color: #fff;
	font-weight: 300;
}

#hero_area_content
{
	margin: 50px auto 15px;
	height: auto;
	max-width: 1200px;
	position: relative;
	color: #fff;
	text-align: center;
	height: 455px;
}

#two_column
{
   width: 100%;
   height: auto;
   padding-top: 30px;
   padding-bottom: 80px;
   display: inline-block;
   text-align: center;
   background-color: #ffffff;
   color: #4f5962;
}

#two_column h3
{
	color: #4f5962;
}

#two_column h6
{
	color: #4f5962;
}

#two_column_left
{
	width: 50%;
	float: left;
	text-align: center;
}

.two_column_text
{
	padding-left: 200px;
	padding-right: 200px;
	background-color: #fff;
}

#two_column_right
{
	width: 50%;
	float: right;
	text-align: center;
}

#recent_work
{
	margin: 0 auto;
	width: 100%;
	background-color: #f6f7f8;
	border-top: 1px solid #dadfe1;
	border-bottom: 1px solid #dadfe1;
	height: 500px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 80px;
}

/***************/
/** About Us **/
/**************/

#hero_area_aboutus
{
	margin: 0px auto 0px;
	padding-top: 225px;
	max-width: 100%;
	height: 420px;
	position: relative;
	text-align: center;
	background: url(imgs/02_About-Banner.jpg);	/* Large photo on top section */
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	color: #fff;
  	text-shadow: 1px 1px 1px #000;
}

#hero_area_aboutus h1
{
	color: #fff;
	font-weight: 300;
}

#hero_area_aboutus_content
{
	margin: 50px auto 15px;
	height: auto;
	max-width: 1200px;
	position: relative;
	color: #fff;
	text-align: center;
	height: 455px;
}

#about_two_column
{
   width: 100%;
   height: auto;
   display: inline-block;
   text-align: center;
   background-color: #f6f7f8;
   color: #4f5962;
   padding-top: 50px;
   padding-bottom: 50px;
}

#about_two_column_info
{
	padding-left: 120px;
	padding-right: 120px;
	text-align: center;
}

#two_column_about_left
{
	width: 480px;
	min-height: 720px;
	height: 840px;
	text-align: center;
	background-color: #ffffff;
	border: 1px solid #dadfe1;
	border-radius: 5px;
	display: inline-block;
	padding-top: 30px;
	margin-top: 30px;
	vertical-align: top;
	margin-right: 40px;
}

#two_column_about_right
{
	width: 480px;
	min-height: 720px;
	height: 840px;
	text-align: center;
	background-color: #ffffff;
	border: 1px solid #dadfe1;
	border-radius: 5px;
	display: inline-block;
	padding-top: 30px;
	margin-top: 30px;
	margin-left: 40px;
	vertical-align: top;
}

.two_column_about_text
{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	color: #4f5962;
	height: auto;
	text-align: left;
}

.about_social_media
{
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

#about_two_column div
{
	display: inline-block;
}


/***********/
/** Sounds  **/
/***********/

#hero_area_sounds
{
	margin: 0px auto 0px;
	padding-top: 225px;
	max-width: 100%;
	height: 420px;
	position: relative;
	text-align: center;
	background: url(imgs/03_Sounds&Collections-Banner.jpg);	/* Large photo on top section */
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	color: #fff;
  	text-shadow: 1px 1px 1px #000;
}

#hero_area_sounds h1
{
	color: #fff;
	font-weight: 300;
}

#hero_area_sounds_content
{
	margin: 50px auto 15px;
	height: auto;
	max-width: 1200px;
	position: relative;
	color: #fff;
	text-align: center;
	height: 455px;
}

.sounds_two_column
{
   width: 100%;
   height: auto;
   display: inline-block;
   text-align: center;
   background-color: #f6f7f8;
   padding-top: 50px;
   padding-bottom: 50px;
}

.two_column_sound_left_free
{
	width: 480px;
	height: auto;
	text-align: center;
	background-color: #ffffff;
	border: 1px solid #dadfe1;
	border-radius: 5px;
	display: inline-block;
	padding-top: 30px;
	margin-top: 30px;
	vertical-align: top;
	margin-right: 40px;
}

.two_column_sound_left
{
	width: 480px;
	height: 530px;
	text-align: center;
	background-color: #ffffff;
	border: 1px solid #dadfe1;
	border-radius: 5px;
	display: inline-block;
	padding-top: 30px;
	margin-top: 30px;
	vertical-align: top;
	margin-right: 40px;
}

.two_column_sound_right
{
	width: 480px;
	height: 530px;
	text-align: center;
	background-color: #ffffff;
	border: 1px solid #dadfe1;
	border-radius: 5px;
	display: inline-block;
	padding-top: 30px;
	margin-top: 30px;
	margin-left: 40px;
	vertical-align: top;
}

.two_column_sounds_text
{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	color: #4f5962;
	height: auto;
}


/******************* /
/*** Glass Page *** /
/******************/

#glass_header
{
	margin: 0 auto;
	width: 100%;
	height: auto;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

#glass_two-column
{
   width: 70%;
   height: auto;
   min-height: 420px;
   margin: 0 auto;
   margin-bottom: 20px;
   padding: 50px 10px 10px 10px;
}

#glass_left-column
{
	width: 45%;
	float: left;
	padding-left: 20px;
}

#glass_right-column
{
	width: 45%;
	height: auto;
	float: right;
}

#glass_center-info
{
	width: 80%;
	min-height: 420px;
	height: auto;
	margin: 0 auto;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
}

/***********/
/** Contact  **/
/***********/

#hero_area_contact
{
	margin: 0px auto 0px;
	padding-top: 225px;
	max-width: 100%;
	height: 420px;
	position: relative;
	text-align: center;
	background: url(imgs/05_Contact-Banner.jpg);	/* Large photo on top section */
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	color: #fff;
  	text-shadow: 1px 1px 1px #000;
}

#hero_area_contact h1
{
	color: #fff;
	font-weight: 300;
}

#hero_area_contact_content
{
	margin: 50px auto 15px;
	height: auto;
	max-width: 1200px;
	position: relative;
	color: #fff;
	text-align: center;
	height: 455px;
}

#contact_wrapper
{
   width: 80%;
   height: auto;
   min-height: 420px;
   margin: 0 auto;
   margin-top: 80px;
   margin-bottom: 80px;
   padding: 50px 10px 10px 10px;
   background-color: #fff;
   border: 1px solid #dadfe1;
   border-radius: 5px;
   color: #666;
}

#left_contact
{
	width: 45%;
	float: left;
	padding-left: 20px;
}

#right_contact
{
	width: 45%;
	float: right;
}

.contact_img
{
	vertical-align: middle;
	padding-right: 10px;
}

/***********/
/** Footer (All Pages)  **/
/***********/

#pre_footer
{
	background-color: #1e824c;
	width: 100%;
	height: 100px;
	padding-top: 50px;
	margin: 0 auto;
	text-align: center;
}

.pre_footer_text
{
	text-align: center;
	color: #DADFE1;
}

.pre_footer_text h3
{
	color: #DADFE1;
}

.pre_footer_text a:link
{
	color: #DADFE1;
	-o-transition:color .2s ease-out, background 2s ease-in;
	-ms-transition:color .2s ease-out, background 2s ease-in;
	-moz-transition:color .2s ease-out, background 2s ease-in;
	-webkit-transition:color .2s ease-out, background 2s ease-in;
	font-weight: bold;
}

.pre_footer_text a:visited
{
	color: #fff;
}

.pre_footer_text a:hover
{
	color: #f4d03f;
}

footer
{
	background-color:  #333333;
	color: #666666;
	width: 100%;
	height: 150px;
	padding-bottom: 30px;
	font-size: 0.90em;
	padding-top: 5px;
}

footer a:link
{
	color: #666666;
	text-decoration: none;
	-o-transition:color .2s ease-out, background 2s ease-in;
	-ms-transition:color .2s ease-out, background 2s ease-in;
	-moz-transition:color .2s ease-out, background 2s ease-in;
	-webkit-transition:color .2s ease-out, background 2s ease-in;
}

footer a:visited
{
     color: #666666;
}

footer a:hover
{
	color:  #1e824c;
}

.left_footer_content
{
	padding-top: 50px;
	width: 25%;
	margin-left: 200px;
	float: left;
	vertical-align: middle;
}

.right_footer_content
{
	padding-top: 55px;
	width: 25%;
	margin-right: 20px;
	float: right;
	text-align: left;
	vertical-align: middle;
	font-size: 0.80em;
}

.right_footer_content h6
{
	color: #f9f9f9;
	text-align: left;
}

/*** Random IDs ***/

#simple_content
{
   width: 100%;
   height: auto;
   padding: 30px 0px 80px 0px;
   display: inline-block;
   background-color: #ffffff;
   color: #4f5962;
}

#simple_content h2
{
	text-align: left;
}

#cookies_text
{
	padding: 40px 200px 0px 200px;
}


/************/
/*** Text ***/
/***********/

h1, h2, h3, h4, h5, h6
{
	font-family: 'GothamRounded-Book', Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}

h1
{
	font-size: 2.250em;
	color: #111111;
	line-height: 1.15em;
	margin: 20px 0 ;
}

h2
{
	font-size: 1.875em;
	color: #4f5962;
	line-height: 1.15em;
	margin: 20px 0 ;
}

h3
{
	font-size: 1.500em;
	color: #4f5962;
	line-height: 1.15em;
	margin: 20px 0 ;
	font-weight: 400;
}

h4
{
	font-size: 1.125em;
	color: #4f5962;
	line-height: 1.15em;
	margin: 10px 0;
	font-weight: 400;
}

h5
{
	font-size: 1.100em;
	color: #4f5962;
	line-height: 1.15em;
	margin: 10px 0;
	font-weight: 400;
}

h6
{
	font-size: 1.50em;
	color: #4f5962;
	font-weight: 400;
	line-height: 1.15em;
	margin: 10px 0;

}

p
{
	font-size: 1em;
	line-height: 1.45em;
	margin-bottom: 20px;
	font-family: 'GothamRounded-Book', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

/*** Lists ***/

li
{
	list-style-type: none;
}


/**************/
/*** Links ***/
/*************/
a:link
{
	color:  #1e824c;
	text-decoration: none;
	-o-transition:color .2s ease-out, background 2s ease-in;
	-ms-transition:color .2s ease-out, background 2s ease-in;
	-moz-transition:color .2s ease-out, background 2s ease-in;
	-webkit-transition:color .2s ease-out, background 2s ease-in;
	-webkit-font-smoothing: antialiased;
}

a:visited
{
     color: #1e824c;
     -webkit-font-smoothing: antialiased;
}

a:hover
{
	color:  #f4d03f;
	-webkit-font-smoothing: antialiased;
}

/* Strong/EM */
strong
{
	font-size: 1.15em;
	color: #222;
	font-family: 'GothamRounded-Book', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

em
{
	color: #222;
	font-family: 'GothamRounded-Book', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

/*** Buttons ***/

.button
{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #1e824c;
	color: #f9f9f9;
	width: 150px;
	height: 45px;
	font-size: 1em;
	font-family: 'GothamRounded-Book', Arial, sans-serif;
	border: 2px solid #1e824c;
	border-radius: 2px;
	float: left;
	-webkit-appearance: none; /* Stop stupid iOS deafualt button style */
}

.button:hover
{
	background-color: #F9F9F9; /*#2854A1; */
	color: #666;
	border: 2px solid #1e824c;
	cursor: pointer;
	border-radius: 2px;
	-o-transition:color .0.3s ease-out, background 0.3s ease-in;
	-ms-transition:color .0.3s ease-out, background 0.3s ease-in;
	-moz-transition:color .0.3s ease-out, background 0.3s ease-in;
	-webkit-transition:color .0.3s ease-out, background 0.3s ease-in;
	-webkit-appearance: none; /* Stop stupid iOS deafualt button style */
}

.button_center
{
	background-color: transparent;
	color: #f9f9f9;
	width: auto;
	padding: 15px 15px 15px 15px;
	height: 50px;
	font-size: 1em;
	font-family: 'GothamRounded-Book', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px #000;
	border: 2px solid #1e824c;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 30px;
	margin-top: 20px;
	margin-bottom: 40px;
	-o-transition:color .0.3s ease-out, background 0.3s ease-in;
	-ms-transition:color .0.3s ease-out, background 0.3s ease-in;
	-moz-transition:color .0.3s ease-out, background 0.3s ease-in;
	-webkit-transition:color .0.3s ease-out, background 0.3s ease-in;
	-webkit-appearance: none; /* Stop stupid iOS deafualt button style */
}

.button_center:hover
{
	background-color: #1e824c;
	color: #f9f9f9;
	border: 2px solid #1e824c;
	cursor: pointer;
	border-radius: 30px;
	-webkit-appearance: none; /* Stop stupid iOS deafualt button style */
}

/*** Sounds Buttons ***/

.button_sounds
{
	background-color: #1e824c;
	color: #f9f9f9;
	width: 150px;
	padding: 15px 15px 15px 15px;
	height: 50px;
	font-size: 1em;
	font-family: 'GothamRounded-Book', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	border: 2px solid #1e824c;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 30px;
	margin-top: 20px;
	margin-bottom: 40px;
	-o-transition:color .0.3s ease-out, background 0.3s ease-in;
	-ms-transition:color .0.3s ease-out, background 0.3s ease-in;
	-moz-transition:color .0.3s ease-out, background 0.3s ease-in;
	-webkit-transition:color .0.3s ease-out, background 0.3s ease-in;
	-webkit-appearance: none; /* Stop stupid iOS deafualt button style */
}

.button_sounds:hover
{
	background-color: transparent;
	color: #4f5962;
	border: 2px solid #1e824c;
	cursor: pointer;
	border-radius: 30px;
	-webkit-appearance: none; /* Stop stupid iOS deafualt button style */
}

.button_contact
{
	background-color: #1e824c;
	color: #f9f9f9;
	width: auto;
	padding: 15px 15px 15px 15px;
	height: 50px;
	font-size: 1em;
	font-family: 'GothamRounded-Book', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	border: 2px solid #1e824c;
	margin: 0 auto;
	display: block;
	border-radius: 30px;
	-o-transition:color .0.3s ease-out, background 0.3s ease-in;
	-ms-transition:color .0.3s ease-out, background 0.3s ease-in;
	-moz-transition:color .0.3s ease-out, background 0.3s ease-in;
	-webkit-transition:color .0.3s ease-out, background 0.3s ease-in;
	-webkit-appearance: none; /* Stop stupid iOS deafualt button style */
}

.button_contact:hover
{
	background-color: transparent;
	color: #4f5962;
	border: 2px solid #1e824c;
	cursor: pointer;
	border-radius: 30px;
	-webkit-appearance: none; /* Stop stupid iOS deafualt button style */
}

/********************/
/*** Form detials ***/
/********************/

label
{
	margin-right: 30px;
	text-align:right;
	padding-bottom: 15px;
	color: #222;
}

#name, #email
{
	width: 90%;
	height: 35px;
	border: 1px solid #D2D7D3;
	border-radius: 2px;
	background-color: #ffffff;
	color: #242424;
	font-family: 'GothamRounded-Book', Arial, sans-serif;
	font-size: 1em;
	float: left;
	margin-bottom: 15px;
	padding-left: 5px;
	-webkit-font-smoothing: antialiased;
	-webkit-appearance: none; /* Stop stupid iOS deafualt style */
}

#message
{
	border: 1px solid #D2D7D3;
	border-radius: 2px;
	background-color: #ffffff;
	resize: none;
	height: 180px;
	width: 90%;
	float: left;
	font-family: 'GothamRounded-Book', Arial, sans-serif;
	font-size: 1em;
	margin-bottom: 10px;
	padding-left: 5px;
	-webkit-font-smoothing: antialiased;
	-webkit-appearance: none; /* Stop stupid iOS deafualt style */
}

  /*************************/
 /*** MOBILE Media Query **/
/*************************/

/*** Media Query ***/
@media only screen and (max-width : 1100px) {

#logo
{
	margin-left: 5px;
}

#two_column
{
	height: auto;
}

#two_column_left
{
	width: 100%;
	float: none;
}

#two_column_right
{
	width: 100%;
	float: none;
}

}

@media only screen and (max-width : 1064px) and (orientation : landscape) {

#about_two_column
{
	width: 100%;
	height: auto;
	padding-bottom: 80px;
}

#two_column_about_left
{
	width: 400px;
	float: none;
	margin: 10px auto 10px;
}

#two_column_about_right
{
	width: 400px;
	float: none;
	margin: 10px auto 10px;
}

#sounds_two_column
{
	width: 100%;
	height: auto;
	padding-bottom: 80px;
}

.two_column_sound_left_free
{
	width: 400px;
	float: none;
	margin: 10px auto 10px;
}

.two_column_sound_left
{
	width: 400px;
	float: none;
	margin: 10px auto 10px;
}

.two_column_sound_right
{
	width: 400px;
	float: none;
	margin: 10px auto 10px;
}

/* Terms and Cookies */

#simple_content
{
   width: 100%;
   height: auto;
   background-color: #ffffff;
   color: #4f5962;
}

#cookies_text
{
	padding: 0px 10px 0px 10px;
	width: 90%;
}

}

@media only screen and (max-width : 960px) {

#logo
{
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 15px;
	width: 30%;
}

}

@media only screen and (max-width : 960px) {

#logo
{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 35px;
	width: 40%;
}

.responsive_logo
{
	width: 100%;
}

header
{
	position: absolute;
}

#mobile-menu
{
	display: inline-block;
	margin-top: -10px;
}

nav ul, nav:active ul
{
	display: none;
	position: absolute;
	padding: 20px;
	background: #333333;
	border: 1px solid #000000;
	right: 20px;
	top: 60px;
	width: 20%;
	border-radius: 4px 0 4px 4px;
}

nav li
{
	text-align: center;
	width: 100%;
	padding: 8px 0;
	margin: 0;
}

nav:hover ul
{
	display: block;
}
}

@media only screen and (max-width : 800px) {

#logo
{
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 15px;
	width: 25%;
}

#hero_area
{
	height: 300px;
}

#hero_area_content h1
{
	font-size: 2.20em;
}

#home_content
{
	padding: 0px 12px 35px 12px;
	margin: 50px auto 80px;
}

#two_column
{
	padding-bottom:  100px;
	width: 100%;
	height: auto;
}

#two_column_left
{
	width: 100%;
	float: none;
}

#two_column_right
{
	width: 100%;
	float: none;
}

.two_column_text
{
	padding: 0px 10px 0px 10px;
}

#recent_work
{
	height: auto;
	width: 100%;
	padding: 10px 0px 15px 0px;
}

/*** ABOUT ***/


#about_two_column
{
	width: 100%;
	height: auto;
	padding-bottom: 80px;
}

#two_column_about_left
{
	width: 90%;
	height: auto;
	float: none;
	margin: 10px auto 10px;
}

#two_column_about_right
{
	width: 90%;
	height: auto;
	float: none;
	margin: 10px auto 10px;
}

.two_column_about_text
{
	padding: 0px 10px 0px 10px;
}

/**** SOUNDS ****/

#sounds_two_column
{
	width: 100%;
	height: auto;
	padding-bottom: 80px;
}

.two_column_sound_left
{
	width: 90%;
	height: auto;
	float: none;
	margin: 10px auto 10px;
}

.two_column_sound_left_free
{
	width: 90%;
	height: auto;
	float: none;
	margin: 10px auto 10px;
}

.two_column_sound_right
{
	width: 90%;
	height: auto;
	float: none;
	margin: 10px auto 10px;
}

.two_column_sound_text
{
	padding: 0px 10px 0px 10px;
}

/******************* /
/*** Glass Page *** /
/******************/

#glass_header
{
	margin: 0 auto;
	width: 100%;
	height: auto;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}

#glass_two-column
{
   width: 90%;
   height: auto;
   margin: 0 auto;
   margin-bottom: 100px;
   padding: 50px 10px 10px 10px;
   color: #666;
}

#glass_left-column
{
	width: 90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	float: none;
	display: block;
	text-align: center;
}

#glass_right-column
{
	width: 90%;
	height: auto;
	margin: 0 auto;
	padding: 0px 5px 0px 5px;
	float: none;
}

#glass_center-info
{
	width: 80%;
	height: auto;
	margin: 0 auto;
	text-align: center;
}

/*** Unknown ***/

#portfolio_content
{
	padding: 50px 8px 0px 8px;
}

#portfolio_content2
{
	padding: 0px 8px 0px 8px;
	margin-top: -280px;
}

#work_content
{
	padding: 50px 8px 0px 8px;
}

#work_preview
{
	padding: 50px 8px 0px 8px;
}

#two_column_left
{
	width: 100%;
	float: none;
}

#two_column_right
{
	width: 100%;
	float: none;
}

.two_column_text
{
	padding: 0px 10px 0px 10px;
}

#recent_work
{
	height: auto;
	width: 100%;
	padding: 10px 0px 15px 0px;
}

/* Terms and Cookies */

#simple_content
{
   width: 100%;
   height: auto;
   background-color: #ffffff;
   color: #4f5962;
}

#cookies_text
{
	padding: 0px 10px 0px 10px;
	width: 90%;
}

/*** Footer ***/

#pre_footer
{
	padding: 15px 15px 0px 15px;
	width: auto;
	height: 150px;
	margin: 0 auto;
	text-align: center;
}

.pre_footer_text
{
	padding: 0px 15px 0px 15px;
	width: auto;
	margin: 0 auto;
	text-align: center;
}

footer
{
	width: 100%;
	height: 320px;
	margin: 0;
	text-align: center;
}

.left_footer_content
{
	width: 90%;
	padding: 15px 15px 0px 15px;
	text-align: center;
	margin: 0 auto;
	float: none;
}

.right_footer_content
{
	width: 100%;
	padding: 0px 0px 2px 0px;
	margin: 0;
	text-align: center;
	float: none;
}

.right_footer_content h6
{
	text-align: center;
	float: none;
	line-height: none;
}

/* contact form */

#left_contact
{
	width: 100%;
	float: none;
	padding: 0px 12px 0px 8px;
}

#right_contact
{
	width: 100%;
	float: none;
}

} /** End Media Query **/

@media only screen and (max-width : 500px) {

#logo
{
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 15px;
	width: 40%;
}

#about_two_column_info
{
	padding-left: 10px;
	padding-right: 10px;
}

}
