<article class="o-article-teaser" role="article">
  <h2 class="o-article-teaser__title"><a href="{{ article.url }}">{{ article.title }}</a></h2>
  <time class="o-article-teaser__date" datetime="{{ article.postDate | date('Y-m-d') }}">{{ article.postDate | date('d M Y') }}</time>
</article>