{% import 'includes/_macros' as macros  %}

<div class="js-cookie-banner o-modal o-modal--bottom">
  <div class="o-modal__wrapper">
    <header class="o-modal__header">
      <button type="button" class="js-cookie-banner-close o-modal__close">{{ macros.icon('close', '26px', '26px', 'o-icon--dark') }}</button>
      <h4>Hello There!</h4>
    </header>
    <p>We use cookies to monitor the traffic of our site. If you accept the use our our cookies, close this banner. If you wish to read more about how we use them and to find out how to disable them, read our <a href="">cookie policy page.</a></p>
  </div>
</div>