<section class="o-pagination" role="navigation" aria-label="pagination">
  <ul class="o-pagination-list">
    <li class="o-pagination-list__item">
      <a href="" class="o-pagination-list__link">
        Number
      </a>
    </li>
  </ul>
</section>