<a href="{{ entry.soundCollectionBuyUrl }}" class="o-btn o-btn-accent o-btn-price">
  <span class="o-btn-price__text">Buy Now</span><span class="o-btn-price__price">£{{ entry.soundCollectionPrice }}</span>
</a>