// ============================================================================
// Utilities: _helpers
// ============================================================================

// ============================================================================
// Background Color
// ============================================================================
.u-secondary-background {
  background-color: #F6F7F8;
}

.u-primary-background {
  background-color: #fff;
}

// ============================================================================
// Accessability
// ============================================================================
.u-sr-only {
  @include element-invisible;
}

// ============================================================================
// Text Alignment Helpers
// ============================================================================
.u-text-caps {
  text-transform: uppercase;
}

.u-text-l {
  text-align: left;
}

.u-text-c {
  text-align: center;
}

.u-text-r {
  text-align: right;
}

// ============================================================================
// Misc Helpers
// ============================================================================
.u-unstyled-list {
  @include unstyled-list;
}

.u-clearfix {
  @include clearfix;
}