/// ============================================================================
/// Layout: _grid
/// Main file for the Grid. Will include the grid mixin
/// ============================================================================

/// ============================================================================
/// Internal value to store the end column float direction
/// ============================================================================

// The last piece to transition the responsive gutter feature
$grid-column-responsive-gutter: null !default;
@if $grid-column-responsive-gutter {
  // scss-lint:disable DebugStatement
  @warn 'Rename $grid-column-responsive-gutter to $grid-column-gutter to remove this warning.';
  $grid-column-gutter: $grid-column-responsive-gutter;
}

// If a single value is passed as a gutter, convert it to a map so the code knows what to do with it
@if type-of($grid-column-gutter) == 'number' {
  $grid-column-gutter: (
    sm: $grid-column-gutter,
  );
}

/// ============================================================================
/// Grid
/// ============================================================================
@include flex-grid;