{# Use the `group` filter to get the years, entries were posted in #}
{% set entries = craft.entries.section('articles') %}
{% set entriesByYear = entries|group('postDate|date("Y")') %}

<nav class="js-sticky c-blog-filter-bar" role="navigation">
  <div class="l-wrap">
    <div class="l-col">
      <label for="filter-dropdown" class="c-blog-filter-bar__label u-text-caps">Filter aticles by: </label>
      <select name="filter-dropdown" id="filter-dropdown" class="js-blog-dropdown c-blog-filter-bar__dropdown">
        <option value="year" selected>Year</option>
        {% for year, entries in entriesByYear %}
            <option value="{{ year }}" data-year-link="{{ entry.url }}/{{ year }}">{{ year }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</nav>

<div class="js-blog-articles c-blog-teaser-grid">
  <div class="l-wrap">
    {% for article in craft.entries.section('articles').limit(12) %}
      <div class="l-col l-col--sm-12 l-col--md-6 l-col--lg-4">
        {% include 'includes/common/_article-teaser' with {'article': article} %}
      </div>
    {% endfor %}
  </div>
</div>