{% if component.showSoundCollections %}

{# Normal Collections #}
  <div class="c-sound-collection-grid u-primary-background">
    {# Title #}
      <section class="l-wrap">
        <div class="l-col u-text-c">
          <h2 class="c-sound-collection-grid__title">flagship collections</h2>
        </div>
      </section>
    {# /Title #}

    {# Collection #}
      <div class="l-wrap">
        {% set paidCat = craft.categories.slug('paid') %}
        {% for collection in craft.entries.section('soundCollections').relatedTo(paidCat).all %}
          <div class="l-col l-col--sm-12 l-col--md-6 l-col--lg-4">
            {% include 'includes/common/_sound-collection-teaser' with {'collection': collection} %}
          </div>
        {% endfor %}
      </div>
    {# Collection #}
  </div>
{# /Normal Collections #}

  <div class="c-sound-collection-grid u-secondary-background">
    <section class="l-wrap">
      <div class="l-col u-text-c">
        <h2>variety collections</h2>
      </div>
    </section>

    <div class="l-wrap">
      {% set varCat = craft.categories.slug('variety') %}
      {% for collection in craft.entries.section('soundCollections').relatedTo(varCat).all %}
        <div class="l-col l-col--sm-12 l-col--md-4">
          {% include 'includes/common/_sound-collection-teaser' with {'collection': collection} %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="c-sound-collection-grid u-primary-background">
    <section class="l-wrap">
      <div class="l-col u-text-c">
        <h2 class="u-text-c">free collections</h2>
      </div>
    </section>

    <div class="l-wrap">
      {% set freeCat = craft.categories.slug('free') %}
      {% for collection in craft.entries.section('soundCollections').relatedTo(freeCat).all %}
        <div class="l-col l-col--sm-12 l-col--md-4">
          {% include 'includes/common/_sound-collection-teaser' with {'collection': collection} %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}