/// ============================================================================
/// Base: _base
/// Style Base Elements
/// ============================================================================

/// ============================================================================
/// Variables
/// ============================================================================
$body-bg-color: $palette-tertiary;
$body-text-color: $palette-secondary;
$body-font: $font-family-normal;

/// ============================================================================
/// Global Elements
/// ============================================================================
html {
  box-sizing: border-box;
  font-size: $global-font-size;
}

body {
  @include text-rendering('true');
  -webkit-tap-highlight-color: transparent;
  background-color: $body-bg-color;
  font-family: $font-family-normal;
  font-size: $font-size-primary;
  line-height: computed-lineheight($font-size-primary, 32px);
  color: $body-text-color;
  z-index: index($z-stack, site);
}

hr {
  background-color: $palette-border;
  border: none;
  height: 1px; 
  padding: 0;
  margin-top: rem-calc(16);
  margin-bottom: rem-calc(16);
}

table {
  max-width: 100%;
  width: 100%;
  table-layout: fixed;
  border: 1px solid $palette-border;
  border-collapse: collapse;
  margin-bottom: 0;

  td {
    border: 1px solid $palette-border;
    padding: 1rem;
  }
}

pre {
  font-size: rem-calc(14);
  font-family: 'Courier', monospace;
  background-color: $palette-secondary;
  padding: 0;
}

/// ============================================================================
/// Typography
/// ============================================================================
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: $font-family-secondary;
  font-weight: normal;
  color: $palette-paragraph;
  margin-bottom: rem-calc(15);
  line-height: normal;
}

ul {
  margin: 0 0 rem-calc(10);
}

p {
  font-size: inherit;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: rem-calc(25);
}

strong {
  font-family: $font-family-secondary;
  font-weight: normal;
}

em {
  font-family: $font-family-normal;
  font-style: italic;
}

figure {
  margin: rem-calc(0 0 25);
}

figcaption {
  font-size: rem-calc(14);
  font-style: italic;
  padding-top: rem-calc(5);
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  background-color: $palette-secondary;

  p {
    margin-bottom: rem-calc(10);
  }
}

small {
  font-size: $font-size-small;
}

/// ============================================================================
/// Links / Buttons
/// ============================================================================
a {
  color: $palette-anchor;
  text-decoration: underline;

  @include hocus {
    text-decoration: none;
  }
}

/// ============================================================================
/// Form Elemenets
/// ============================================================================
$input-border-color: #E1E4E6;

label {
  display: block;
  margin: 0;
}

#{text-inputs()},
textarea {
  appearance: none;
  display: block;
  line-height: normal;
  box-shadow: none;
  border-radius: $global-border-radius;
  border-width: 2px;
  border-style: solid;
  border-color: $input-border-color;
  color: $palette-secondary;
  width: 100%;
  padding: rem-calc(13.5 25 13.5 17);
  transition: 150ms ease-in-out;
  cursor: pointer;

  &:valid {
    border: 2px solid $palette-primary;
  }

  &:hover {
    border: 2px solid darken($input-border-color, 10);
  }

  &:focus {
    border: 2px solid $palette-secondary;
    outline: none;
  }

  &::placeholder {
    font-family: $font-family-secondary;
    color: $palette-secondary;
  }
}

select {
  appearance: none;
  width: 100%;
  border-radius: 0;
  border: none;
  color: $palette-paragraph;
  font-size: rem-calc(16);
  font-family: inherit;
  padding: rem-calc(13.5 45 13.5 13.5);
  height: auto;
  line-height: normal;
  background-color: $palette-tertiary;
  border: 1px solid $palette-tertiary;
  background-image: url('/assets/src/icons/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) 50%;
  background-clip: padding-box;
  transition: border-color 200ms ease-in-out;
  box-shadow: $global-box-shadow;
  border-radius: $global-border-radius;
  text-transform: uppercase;
  font-family: $font-family-secondary;
  min-width: 170px;
  width: 100%;
  font-size: rem-calc(14);

  &:focus {
    outline: none;
    border: 1px solid $palette-border;
  }
}

// IE Fix / Hack
select::-ms-expand {
  display: none;
}

textarea {
  min-height: rem-calc(209);
  resize: vertical;
}

/// ============================================================================
/// Highlighting
/// ============================================================================
::selection {
  @include selection;
}

::moz-selection {
  @include selection;
}

/// ============================================================================
/// iFrame Responivness
/// ============================================================================
@include breakpoint(sm only) {
  iframe {
      width: 100%;
  }
}
