@font-face {
  font-family: "GothamRounded Book";
  src: url("/assets/src/fonts/GothamRounded-Book.woff2") format("woff2"),
       url("/assets/src/fonts/GothamRounded-Book.woff") format("woff");
}

@font-face {
  font-family: "GothamRounded Medium";
  src: url("/assets/src/fonts/GothamRounded-Medium.woff2") format("woff2"),
       url("/assets/src/fonts/GothamRounded-Medium.woff") format("woff");
}